.bg-roxo{
    background-color: rgb(179, 15, 116);
    
}

a:hover{
  font-weight: bold;
  color: #7E459B;
  
}


.img-carousel{
  object-fit: cover;
  object-position: 0 32%;
  height: 400px;
}

h4 {
  font-style: italic;
  font-size: 20px;
}

a{
  color: black;
}

ul{
  list-style-type: none;
}

.habilidadeSobre{
  background-color: rgb(179, 15, 116);
  color: white;
  padding: 30px;
  text-align: center;
}

.titulo{
  font-size: 25px;
}

.iconeLink{
  color: rgb(179, 15, 116);
}


h3{
  padding: 5%;
}

.btn-card:hover{
  opacity: .7;
  background-color: #7E459B;
  color: white;
}

footer{
  background-color:rgb(179, 15, 116) ;
}

.a-footer{
  color: rgb(182, 95, 226);
  height: 45px;
}

