body{
  font-family: 'Fira Sans', sans-serif;
}

nav {
  max-height: 75px;
}

.brand-text{
  margin-top: 40px;
  
}

.bg-roxo{
    background-color: rgb(218, 2, 135);
    
}

a:hover{
  font-weight: bold;
  color: #7E459B;
  
}

.img-carousel{
  object-fit: cover;
  object-position: 42% 42%;
  height: 400px;
  
}

.inicial-content{
  background-color: #f8e3f3;
  margin-top: -50px;
  margin-bottom: -15px;
  padding: 0 45px;
}

h4 {
  font-style: italic;
  font-size: 20px;
}

a{
  color: black;
}

ul{
  list-style-type: none;
}

.habilidadeSobre{
  background-color: rgb(218, 2, 135);
  color: white;
  padding: 30px;
  text-align: center;
}

.titulo{
  font-size: 25px;
}

.text-modal {
  color: rgb(85, 0, 85);
  text-align: left;
  margin-left: 15px;
}

li {
  line-height: 18px;
  margin-top: 55px;
  margin-bottom: 35px;
}


.btn-xp {
  background-color: rgb(158, 0, 158);
}

.iconeLink{
  color: rgb(218, 2, 135);
}


h3{
  padding: 5%;
}

.btn-card:hover{
  opacity: .7;
  background-color: #7E459B;
  color: white;
}

.btn-modal:hover{
  opacity: .7;
  background-color: #7E459B;
  color: white;
}

.portfolio-content{
  background-color: #f8e3f3;
}

.card-content {
  margin-left: 0;
  margin-right: 0;
}

.cards {
  width: 18rem; 
  height: 32rem;
}

.card1{
  height: 232px;
}

.btn-card {
  margin-bottom: -48px;
}


li{
  text-decoration: initial;
}

footer{
  background-color:rgb(218, 2, 135) ;
}

.a-footer{
  color: rgb(182, 95, 226);
  height: 45px;
}

